@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ScratchChizz';
  src: url('/ScratchChizz.otf') format('opentype');
}
@font-face {
  font-family: 'Roboto';
  src: url('/Roboto.otf') format('truetype');
}

:root {
  --text: #07130e;
  --background: #f6fcf9;
  --primary: #4fc487;
  --secondary: #97c1dc;
  --accent: #7391d0;
}